<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>ML API</title>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <div class="login">
    <h1>Predict Fraudulence of Transaction</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="distance_from_home" placeholder="Distance from Home" required="required" />
      <input type="text" name="distance_from_last_transaction" placeholder="Distance From Last Transaction" required="required" />
      <input type="text" name="ratio_to_median_purchase_price" placeholder="Ratio of Transaction Amount to Median Purchase Price" required="required" />
      <input type="text" name="repeat_retailer" placeholder="Was it a repeat retailer?" required="required" />
      <input type="text" name="used_chip" placeholder="Was a chip used?" required="required" />
      <input type="text" name="used_pin_number" placeholder="Was a pin number used?" required="required" />
      <input type="text" name="online_order" placeholder="Was it an online order?" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">
        Predict
      </button>
    </form>

    <br />
    <br />
    {{ prediction_text }}
  </div>
  <img src="/static/images/Original.svg" style="width: 400px; position: absolute; bottom: 10px; left: 10px"
    alt="Company Logo" />
</body>

</html>